* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: grey;
  padding-inline: 3rem;
  padding-block: 2rem;
  line-height: 1.5;
}

h1 {
  font-size: 2.5rem;
  font-weight: 600;
  color: blueviolet;
}

h2 {
  font-size: 1.8rem;
  font-weight: 500;
  color: brown;
}

p {
  color: rebeccapurple;
  font-size: 2rem;
}
